.main-pane {
    -fx-background-color: #eeeeee;
}

.top-bar {
    -fx-background-color: #ffffff;
}

.side-bar {
    -fx-background-color: #f4f4f4;
}

.drop-shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5.0, 0.0, 0.0, 5.0);
}